<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class = "containter">
    <div class="row">
    <div class ="col-md-offset-3 col-md-6">
        <h1> <%= title %></h1>
        <form class="form" method="post">
            
            <div class="form-group">
                <label for="titleTextField">Title</label>
                <input type="text" class="form-control"
                id="titleTextField"
                placeholder="Enter Title for event"
                name="Title" 
                value ="<%= planning.Title %>"
                required>
            </div>

            <div class="form-group">
                <label for="noteTextField">Note</label>
                <textarea type="text" class="form-control"
                id="noteTextField"
                placeholder="Enter any self notes"
                name="Note" required>
                <%= planning.Note %>
                </textarea>
            </div>

            <div class="form-group">
                <label for="dateTextField">Date</label>
                <input type="text" class="form-control"
                id="dateTextField"
                placeholder="Enter date of event"
                name="Date" 
                value ="<%= planning.Date %>"
                required>
            </div>

            <div class="form-group">
                <label for="timeTextField">Time</label>
                <input type="text" class="form-control"
                id="timeTextField"
                placeholder="Enter time of event"
                name="Time" 
                value ="<%= planning.Time %>"
                required>
            </div>

            <div class="form-group">
                <label for="placeTextField">Place</label>
                <input type="text" class="form-control"
                id="placeTextField"
                placeholder="Enter place of event"
                name="Place" 
                value ="<%= planning.Place %>"
                required>
            </div>
            <br>
            <button class="btn-btn-primary" type="submit">
                <i class="fa-sharp fa-solid fa-circle-check"></i>submit</button>
            
            <a href="/planner" class="btn btn-warning">
                <i class="fa-sharp fa-solid fa-circle-exclamation"></i>Cancel</a>


        </form>
        </div>
    </div>
</div>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>